@import "./variables.scss";
@import "./nav-bar.scss";
@import "./home.scss";
@import "./contact.scss";
@import "./about-me.scss";
@import "./projects.scss";

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-grid {
  height: 100%;
  display: grid;
  grid-template-columns: [navbar-s] max-content [navbar-e content-s] 1fr [content-e];
  overflow-x: hidden;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page {
  transition: all 0.5s ease-in-out;
}

.transparent {
  opacity: 0;

  * {
    opacity: 0;
  }
}

@import "./media-queries.scss";
