@media screen and (max-width: 700px) {
  $primary-dimension: 75vw;
  .about-me {
    width: 100%;
    grid-template-rows: 20px [image-s] $primary-dimension [image-e intro-s] max-content [intro-e secondary-s] $primary-dimension [secondary-e info-s] max-content [info-e] 90px;
    grid-template-columns: 1fr [s] $primary-dimension [e] 1fr;
    gap: 30px;

    .primary {
      grid-column: s/e;
      grid-row: image-s/image-e;
    }
    .secondary {
      grid-column: s/e;
      grid-row: secondary-s/secondary-e;
    }

    &--intro {
      grid-row: intro-s/intro-e;
      grid-column: s/e;
      font-size: 1.5rem;
    }

    .about-me--image {
      width: $primary-dimension;
      height: $primary-dimension;
    }

    .copy {
      grid-column: s/e;
      grid-row: info-s/info-e;
      font-size: 1rem;
    }
  }

  .main-grid {
    height: 100%;
    display: grid;
    grid-template-rows: [navbar-s] 7vw [navbar-e content-s] 1fr [content-e];
    grid-template-columns: [s] 1fr [e];
  }

  .nav-bar-wrapper {
    grid-row: navbar-s/navbar-e;
    position: fixed;

    top: 0;
    width: 100vw;
    height: 7vw;
    z-index: 3;
  }

  .nav-bar {
    height: 100vh;
    width: 100%;

    z-index: 3;
    font-size: 5vw;

    &--link {
      writing-mode: horizontal-tb;

      margin-bottom: 0px;
      transform: none;
      line-height: 6vw;
      z-index: 3;
      width: 100%;
      text-align: center;

      text-decoration: none;

      color: white;
    }

    &--link-selected {
      background-color: white;
      color: $primary-color;
    }
  }

  ////////////Projects
  .projects-page {
    grid-row: content-s/content-e;
    display: flex;
    width: 1fr;
    //   background-color: lightgray;
    background-color: white;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    justify-items: center;
    flex-direction: column;
  }

  .background-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .project-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .projects-wrapper {
    z-index: 1;

    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  .project {
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.75);
    //   background-color: lightgray;
    //   border: 1px solid $primary-color;
    margin-top: 24px;
    margin-bottom: 25px;
    height: auto;
    width: $primary-dimension;
    display: grid;
    grid-template-columns: [s] $primary-dimension [e];
    grid-template-rows:
      [img-s] $primary-dimension [img-e info-s] max-content
      [info-e];
    color: $font-color;
    font-size: 1rem;

    &--image {
      grid-row: img-s/img-e;
      grid-column: s/e;
      height: $primary-dimension;
      width: $primary-dimension;
      border-radius: 1.5rem 1.5rem 0px 0px;

      object-fit: fill;
    }

    &--info-wrapper {
      grid-row: info-s/info-e;
      grid-column: s/e;
      row-gap: 20px;
      display: grid;
      height: max-content;
      background-color: transparent;
      grid-template-rows: [top name-s] max-content [name-e links-s] max-content [link-e description-s] max-content [description-e language-s] min-content [language-e bottom];
      //   flex-direction: column;
      margin-left: 30px;
      margin-right: 30px;
    }

    &--name {
      font-size: 1.5rem;
      margin-top: 2vw;
      text-align: center;
    }
    &--description {
      align-content: center;
      align-self: center;
      text-align: justify;
      height: max-content;
    }
    &--github {
      margin-right: 20px;
    }

    &--links {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--icons {
      grid-column: img-s/img-e;
      grid-row: top/bottom;
      align-self: flex-start;
      justify-self: flex-end;
      z-index: 1;
    }
    &--languages {
      margin-bottom: 30px;
    }
  }

  .project--link {
    height: 2rem;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: $font-color;
    line-height: 2rem;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }

  .link-divider-line {
    border-right: none;
    height: 10px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-page {
    font-size: 1.5rem;
  }
}

.hamburger-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 5px;
}

.blog-post-summary {
  width: 85vw;
}
