.nav-bar-wrapper {
  position: absolute;
  z-index: 10;

  top: 0;

  transition: opacity 0.35s ease, filter 0.35s ease;
}

.hamburger-icon {
  position: absolute;
  z-index: 20;
  top: 0;
  width: 75px;
  height: 75px;
  color: $primary-color;
  margin: 30px;

  svg {
    pointer-events: none;
    path {
      pointer-events: auto;
      stroke: $primary-color;
      stroke-opacity: 1;
      fill: $primary-color;
    }
  }
}

.black-box {
  background-color: black;
  width: 200px;
  height: 200px;
}

.nav-bar {
  height: 100vh;
  display: flex;
  background-color: $primary-color;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;

  &--link {
    margin-left: 40px;
    margin-right: 40px;
    // writing-mode: vertical-rl;

    // transform: rotateZ(180deg);
    text-transform: uppercase;
    line-height: 40px;

    transition: all 0.5s ease-in-out;

    // margin-right: -14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    // border-radius: 0px 8px 8px 0px;
    color: white;
  }

  &--link-selected {
    background-color: white;
    color: $primary-color;
    // border-left: 1px solid $primary-color;

    // box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }

  &--closed {
    opacity: 0;
    filter: blur(20px);
  }
}
