.nav-bar-wrapper {
  grid-column: navbar-s/navbar-e;
  position: sticky;
  position: -webkit-sticky;
  justify-content: center;
  top: 0;
  background-color: $primary-color;
  align-items: center;
  height: 100vh;
}

.nav-bar {
  height: 100%;
  display: flex;
  //   border-right: 1px solid $primary-color;

  //   padding-left: 30px;
  // margin-left: -18px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 50px;
  margin-left: -4px;
  //   box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);

  &--link {
    writing-mode: vertical-rl;
    margin-right: 0px;
    transform: rotateZ(180deg);
    text-transform: uppercase;
    line-height: 40px;

    transition: all 0.5s ease-in-out;

    // margin-right: -14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    // border-radius: 0px 8px 8px 0px;
    color: white;
  }

  &--link-selected {
    background-color: white;
    color: $primary-color;
    // border-left: 1px solid $primary-color;

    // box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
}

.nav-bar2 {
  height: 100%;
  display: flex;

  //   padding-left: 30px;

  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);

  &--link {
    // writing-mode: vertical-rl;

    // transform: rotateZ(180deg);
    text-transform: uppercase;

    transition: all 0.5s ease-in-out;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: right;
    // border-radius: 0px 8px 8px 0px;
    color: white;
  }

  &--link-selected {
    background-color: rgb(190, 211, 221);
    background-color: white;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 1);
    color: $primary-color;
    // box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
}
