.projects-page {
  display: flex;
  width: 1fr;
  //   background-color: lightgray;
  background-color: white;
  position: relative;
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

.background-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.projects-wrapper {
  z-index: 1;
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.project {
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  //   background-color: lightgray;
  //   border: 1px solid $primary-color;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 500px;
  width: 75%;
  display: grid;
  grid-template-columns: [img-s] 500px [img-e info-s] 1fr [info-e];
  grid-template-rows: [top] 1fr [bottom];
  color: $font-color;
  font-size: 1.375rem;

  &--image {
    grid-column: img-s/img-e;
    grid-row: top/bottom;
    height: 500px;
    width: 500px;
    border-radius: 1.5rem 0px 0px 1.5rem;

    object-fit: fill;
  }

  &--info-wrapper {
    grid-column: info-s/info-e;
    grid-row: top/bottom;
    row-gap: 20px;
    display: grid;
    height: 500px;
    background-color: transparent;
    grid-template-rows: [top name-s] 1fr [name-e links-s] 1fr [link-e description-s] 4fr [description-e language-s] min-content [language-e bottom];
    margin-left: 30px;
    margin-right: 30px;
  }

  &--name {
    font-size: 1.75rem;
    margin-top: 30px;
  }
  &--description {
    align-content: center;
    align-self: center;
    text-align: justify;
  }
  &--github {
    margin-right: 20px;
  }

  &--links {
    display: flex;
  }

  &--icons {
    grid-column: img-s/img-e;
    grid-row: top/bottom;
    align-self: flex-start;
    justify-self: flex-end;
    z-index: 1;
  }
  &--languages {
    margin-bottom: 30px;
  }
}

.project--link {
  height: 2rem;
  border-radius: 1.5rem;
  text-decoration: none;
  background-color: $font-color;
  color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.link-divider-line {
  border-right: 2px solid gray;
  height: 2.5rem;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.neumorphic {
  //   box-shadow: -3px -3px 2px 2px rgb(221, 220, 214),
  //     3px 3px 2px 2px rgb(133, 131, 127), 0px 0px 20px 10px rgba(0, 0, 0, 0.05);

  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}
