.projects-page {
  display: flex;
  width: 1fr;
}

.projects-wrapper {
  padding-top: 30vh;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  background-color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 300px;
  width: 75%;
  display: grid;
  grid-template-columns: [img-s] 300px [img-e info-s] 1fr [info-e];
  grid-template-rows: [top] 1fr [bottom];
  color: lightgray;

  &--image {
    grid-column: img-s/img-e;
    grid-row: top/bottom;
    height: 300px;
    width: 300px;
    object-fit: fill;
  }

  &--info-wrapper {
    grid-column: info-s/info-e;
    grid-row: top/bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &--name {
  }
  &--description {
  }
  &--github {
  }
  &--link {
  }
  &--icons {
    grid-column: img-s/img-e;
    grid-row: top/bottom;
    align-self: flex-start;
    justify-self: flex-end;
    z-index: 1;
  }
  &--languages {
  }
}
